USE [master]
GO
/****** Object:  Database [PhotographyAutomationDB]    Script Date: 1397/11/22 21:43:40 ******/
CREATE DATABASE [PhotographyAutomationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PhotographyAutomationDB', FILENAME = N'C:\Sql2014\DB and Log Files\PhotographyAutomationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [PhotoArchive_FG1] CONTAINS FILESTREAM  DEFAULT
( NAME = N'PhotoArchive_1', FILENAME = N'c:\PhotographyAutomation_FileStores\PhotoArchive_1' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'PhotographyAutomationDB_log', FILENAME = N'C:\Sql2014\DB and Log Files\PhotographyAutomationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PhotographyAutomationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PhotographyAutomationDB]
GO
USE [PhotographyAutomationDB]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 1397/11/22 21:43:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[Documents] AS FILETABLE ON [PRIMARY] FILESTREAM_ON [PhotoArchive_FG1]
WITH
(
FILETABLE_DIRECTORY = N'Documents', FILETABLE_COLLATE_FILENAME = Persian_100_CI_AI
)
GO
/****** Object:  View [dbo].[DocumentsView]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DocumentsView]
AS

SELECT stream_id,
       file_stream,
       NAME,
       is_directory,
       file_stream.PathName() AS unc_path
FROM   dbo.Documents
GO
/****** Object:  UserDefinedFunction [dbo].[DocumentViewByGUID]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DocumentViewByGUID]
(
	@docId UNIQUEIDENTIFIER
)
RETURNS TABLE
AS
	RETURN(
	    SELECT stream_id,
	           file_stream,
	           NAME,
	           is_directory,
	           file_stream.PathName() AS unc_path
	    FROM   dbo.Documents
	    WHERE  stream_id = @docId
	);
GO
/****** Object:  Table [dbo].[PhotoArchive]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[PhotoArchive] AS FILETABLE ON [PRIMARY] FILESTREAM_ON [PhotoArchive_FG1]
WITH
(
FILETABLE_DIRECTORY = N'SharedFiles', FILETABLE_COLLATE_FILENAME = Persian_100_CI_AI
)
GO
/****** Object:  Table [dbo].[TblAtelierType]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAtelierType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[AtelierName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_tblAtelierType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBooking]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBooking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](0) NOT NULL,
	[PhotographerGender] [tinyint] NOT NULL,
	[PhotographyTypeId] [int] NOT NULL,
	[AtelierTypeId] [int] NOT NULL,
	[PersonCount] [int] NOT NULL,
	[PrepaymentIsOk] [tinyint] NOT NULL,
	[Submitter] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblBookingStatus]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblBookingStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[StatusName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_tblBookingStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCustomer]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCustomer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](200) NULL,
	[LastName] [nvarchar](200) NULL,
	[Gender] [tinyint] NULL,
	[Address] [nvarchar](1000) NULL,
	[Tell] [char](10) NULL,
	[Mobile] [char](10) NULL,
	[Email] [varchar](200) NULL,
	[NationalId] [char](11) NULL,
	[CustomerType] [tinyint] NULL,
	[IsMarried] [tinyint] NULL,
	[BirthDate] [date] NULL,
	[WeddingDate] [date] NULL,
	[IsActive] [tinyint] NULL,
	[IsDeleted] [tinyint] NULL,
	[Submitter] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[ModifiedDate] [datetime] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmployeeType]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmployeeType](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[PositionName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_tblEmployeeTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblEmpRole]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblEmpRole](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmpTypeId] [tinyint] NULL,
	[RoleTypeId] [int] NULL,
 CONSTRAINT [PK_tblEmp_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblPhotographyType]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblPhotographyType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[TypeName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_tblPhotographyType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblRoleType]    Script Date: 1397/11/22 21:43:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblRoleType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [int] NOT NULL,
	[RoleName] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_tblRoleType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblAtelierType] ON 

INSERT [dbo].[TblAtelierType] ([Id], [Code], [AtelierName]) VALUES (1, 10, N'آتلیه پرسنلی')
INSERT [dbo].[TblAtelierType] ([Id], [Code], [AtelierName]) VALUES (2, 20, N'آتلیه هنری')
INSERT [dbo].[TblAtelierType] ([Id], [Code], [AtelierName]) VALUES (3, 30, N'آتلیه کودک')
SET IDENTITY_INSERT [dbo].[TblAtelierType] OFF
SET IDENTITY_INSERT [dbo].[TblBooking] ON 

INSERT [dbo].[TblBooking] ([Id], [CustomerId], [Date], [Time], [PhotographerGender], [PhotographyTypeId], [AtelierTypeId], [PersonCount], [PrepaymentIsOk], [Submitter], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (1, 15, CAST(N'2019-01-18' AS Date), CAST(N'09:48:24' AS Time), 0, 4, 2, 2, 0, 0, 6, CAST(N'2019-01-17T09:48:41.960' AS DateTime), NULL)
INSERT [dbo].[TblBooking] ([Id], [CustomerId], [Date], [Time], [PhotographerGender], [PhotographyTypeId], [AtelierTypeId], [PersonCount], [PrepaymentIsOk], [Submitter], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (2, 18, CAST(N'2019-01-18' AS Date), CAST(N'10:00:00' AS Time), 2, 1, 1, 1, 0, 0, 6, CAST(N'2019-01-17T17:57:50.387' AS DateTime), NULL)
INSERT [dbo].[TblBooking] ([Id], [CustomerId], [Date], [Time], [PhotographerGender], [PhotographyTypeId], [AtelierTypeId], [PersonCount], [PrepaymentIsOk], [Submitter], [StatusId], [CreatedDate], [ModifiedDate]) VALUES (3, 18, CAST(N'2019-01-18' AS Date), CAST(N'20:25:00' AS Time), 2, 1, 1, 1, 0, 0, 6, CAST(N'2019-01-17T17:59:07.350' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TblBooking] OFF
SET IDENTITY_INSERT [dbo].[TblBookingStatus] ON 

INSERT [dbo].[TblBookingStatus] ([Id], [Code], [StatusName]) VALUES (2, 10, N'فعال')
INSERT [dbo].[TblBookingStatus] ([Id], [Code], [StatusName]) VALUES (3, 20, N'غیر فعال')
INSERT [dbo].[TblBookingStatus] ([Id], [Code], [StatusName]) VALUES (4, 30, N'حذف')
SET IDENTITY_INSERT [dbo].[TblBookingStatus] OFF
SET IDENTITY_INSERT [dbo].[TblCustomer] ON 

INSERT [dbo].[TblCustomer] ([Id], [FirstName], [LastName], [Gender], [Address], [Tell], [Mobile], [Email], [NationalId], [CustomerType], [IsMarried], [BirthDate], [WeddingDate], [IsActive], [IsDeleted], [Submitter], [CreatedDate], [ModifiedDate]) VALUES (13, N'علی', N'موذن صفایی', 1, N'اصفهان', N'3136676755', N'9332350909', N'alisafaie@gmail.com', N'1290795274 ', 0, 1, CAST(N'1983-09-03' AS Date), CAST(N'2014-02-18' AS Date), 1, 0, NULL, CAST(N'2019-01-13T20:37:11.500' AS DateTime), NULL)
INSERT [dbo].[TblCustomer] ([Id], [FirstName], [LastName], [Gender], [Address], [Tell], [Mobile], [Email], [NationalId], [CustomerType], [IsMarried], [BirthDate], [WeddingDate], [IsActive], [IsDeleted], [Submitter], [CreatedDate], [ModifiedDate]) VALUES (14, N'علی', N'مژذن صفایی', 1, N'اصفهان، خ هفت دست شرقی', N'3136676755', N'9133138675', N'', N'1290795274 ', 0, 0, CAST(N'1983-09-03' AS Date), NULL, 1, 0, NULL, CAST(N'2019-01-17T09:37:26.930' AS DateTime), NULL)
INSERT [dbo].[TblCustomer] ([Id], [FirstName], [LastName], [Gender], [Address], [Tell], [Mobile], [Email], [NationalId], [CustomerType], [IsMarried], [BirthDate], [WeddingDate], [IsActive], [IsDeleted], [Submitter], [CreatedDate], [ModifiedDate]) VALUES (15, N'کوشا', N'کیانی', 0, N'', N'3132337738', N'9999999999', N'', N'           ', 0, 0, NULL, NULL, 1, 0, NULL, CAST(N'2019-01-17T09:48:22.437' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[TblCustomer] OFF
SET IDENTITY_INSERT [dbo].[TblPhotographyType] ON 

INSERT [dbo].[TblPhotographyType] ([Id], [Code], [TypeName]) VALUES (1, 10, N'پرسنلی')
INSERT [dbo].[TblPhotographyType] ([Id], [Code], [TypeName]) VALUES (2, 20, N'کودک')
INSERT [dbo].[TblPhotographyType] ([Id], [Code], [TypeName]) VALUES (3, 30, N'خانوادگی')
SET IDENTITY_INSERT [dbo].[TblPhotographyType] OFF
ALTER TABLE [dbo].[TblBooking]  WITH CHECK ADD  CONSTRAINT [FK_TblBooking_TblAtelierType] FOREIGN KEY([AtelierTypeId])
REFERENCES [dbo].[TblAtelierType] ([Id])
GO
ALTER TABLE [dbo].[TblBooking] CHECK CONSTRAINT [FK_TblBooking_TblAtelierType]
GO
ALTER TABLE [dbo].[TblBooking]  WITH CHECK ADD  CONSTRAINT [FK_TblBooking_TblBookingStatus] FOREIGN KEY([StatusId])
REFERENCES [dbo].[TblBookingStatus] ([Id])
GO
ALTER TABLE [dbo].[TblBooking] CHECK CONSTRAINT [FK_TblBooking_TblBookingStatus]
GO
ALTER TABLE [dbo].[TblBooking]  WITH CHECK ADD  CONSTRAINT [FK_TblBooking_TblPhotographyType] FOREIGN KEY([PhotographyTypeId])
REFERENCES [dbo].[TblPhotographyType] ([Id])
GO
ALTER TABLE [dbo].[TblBooking] CHECK CONSTRAINT [FK_TblBooking_TblPhotographyType]
GO
ALTER TABLE [dbo].[TblBooking]  WITH CHECK ADD  CONSTRAINT [FK_TblBooking_TblUser] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[TblCustomer] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TblBooking] CHECK CONSTRAINT [FK_TblBooking_TblUser]
GO
ALTER TABLE [dbo].[TblEmpRole]  WITH CHECK ADD  CONSTRAINT [FK_tblEmp_Role_tblEmployeeType] FOREIGN KEY([EmpTypeId])
REFERENCES [dbo].[TblEmployeeType] ([Id])
GO
ALTER TABLE [dbo].[TblEmpRole] CHECK CONSTRAINT [FK_tblEmp_Role_tblEmployeeType]
GO
ALTER TABLE [dbo].[TblEmpRole]  WITH CHECK ADD  CONSTRAINT [FK_tblEmp_Role_tblRoleType] FOREIGN KEY([RoleTypeId])
REFERENCES [dbo].[TblRoleType] ([Id])
GO
ALTER TABLE [dbo].[TblEmpRole] CHECK CONSTRAINT [FK_tblEmp_Role_tblRoleType]
GO
/****** Object:  StoredProcedure [dbo].[Documents_Add]    Script Date: 1397/11/22 21:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Documents_Add] (@filename NVARCHAR(255), @filedata VARBINARY(MAX))
AS
	DECLARE @docid UNIQUEIDENTIFIER;
	BEGIN
		SET @docid = NEWID();
		INSERT INTO dbo.Documents
		  (
		    stream_id,
		    file_stream,
		    NAME
		  )
		VALUES
		  (
		    @docId,
		    @filedata,
		    @filename
		  );
		SELECT stream_id,
		       file_stream.PathName() AS unc_path
		FROM   dbo.Documents
		WHERE  stream_id = @docid;
	END
GO
/****** Object:  StoredProcedure [dbo].[Documents_Del]    Script Date: 1397/11/22 21:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Documents_Del] (@docId UNIQUEIDENTIFIER)
AS
BEGIN
	SET NOCOUNT ON;
	DELETE 
	FROM   Documents
	WHERE  stream_id = @docId;    
END
GO
USE [master]
GO
